@model UpdateProfileViewModel
@inject Countries countries
@{
    ViewData["Title"] = "Edit Profile";
}

<div id="editUser_container" class="container-fluid">
    <div class="row">
            <div id="photo_container" class="col-lg-3 col-md-10 col-sm-12">
                <form id="photoForm" enctype="multipart/form-data" method="post">
                    <div class="d-flex justify-content-center">
                        @if (string.IsNullOrEmpty(Model.Photo))
                        {
                            <div class="form-group">
                                <div id="photo">
                                    <img src="~/images/users/default.png" alt="user_photo" width="230" height="230" />
                                </div>
                                <div class="overlay">
                                    <input type="file" id="uploadFile" style="display: none;" onchange="uploadPhoto()" />
                                    <button type="button" id="uploadFileBtn">Change avatar</button>
                                </div>
                            </div>


                        }
                        else
                        {
                            <div class="form-group">
                                <div id="photo">
                                    <img src="@Model.Photo" alt="user_photo" width="230" height="230" />
                                </div>
                                <div class="overlay">
                                    <input type="file" id="uploadFile" style="display: none;" onchange="uploadPhoto()" />
                                    <button type="button" id="uploadFileBtn">Change avatar</button>
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>
            <div id="mainFormContainer" class="col-lg-6 col-md-10 col-sm-12">
                    <form id="editUserForm" asp-action="EditUser" asp-controller="User" method="post">
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <input type="hidden" asp-for="SecurityStamp" value="@Model.SecurityStamp" />
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">First Name:</label>
                            <input asp-for="FirstName" class="form-control" style="width: calc(100% - 120px);" />
                        </div>
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">Last Name:</label>
                            <input asp-for="LastName" class="form-control" style="width: calc(100% - 120px);" />
                        </div>
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">Email:</label>
                            <input asp-for="Email" class="form-control" style="width: calc(100% - 120px);" />
                        </div>
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">Phone:</label>
                            <input asp-for="PhoneNumber" class="form-control" style="width: calc(100% - 120px);" />
                        </div>
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">Country:</label>
                            <select asp-for="Country" class="form-control" style="width: calc(100% - 120px);">
                                <option value="">Select Country</option>
                                @foreach (string country in countries.GetCountries())
                                {
                                    <option value="@country">@country</option>
                                }
                            </select>
                        </div>
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">City:</label>
                            <input asp-for="City" class="form-control" style="width: calc(100% - 120px);" />
                        </div>
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">Address:</label>
                            <input asp-for="Address" class="form-control" style="width: calc(100% - 120px);" />
                        </div>
                        <div class="d-flex form-group">
                            <label class="font-weight-bold" style="width: 120px;">About Me:</label>
                            <textarea asp-for="AboutMe" class="form-control" style="width: calc(100% - 120px);"></textarea>
                        </div>
                        <div class="d-flex form-group">
                            <button type="submit" class="btn_submit">Save Changes</button>
                            <button type="button" asp-action="ForgotPassword" asp-controller="Account" class="change_password_btn">Change Password</button>
                        </div>
                    </form>
            </div>
    </div>
</div>



